﻿@model Onet_App.Models.ViewModel.RoleMasterVM

@{
    ViewData["Title"] = "RoleCreation";
}




<section class="content-header">
    <h1>Designation Creation</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">
    <form asp-controller="RoleMaster" asp-action="RoleCreation" method="post">


        <div class="col-md-12">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Role Page
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="role_name" class="control-label"></label>
                            <input asp-for="role_name" class="form-control" placeholder=" Role Name" />
                            <span asp-validation-for="role_name" class=" text-danger"></span>
                            <input type="hidden" asp-for="role_id" />
                        </div>

                        <div class="form-group">
                            <label asp-for="description" class="control-label"></label>
                            <textarea asp-for="description" class="form-control" placeholder="Description">
                            </textarea>
                            <span asp-validation-for="description" class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer with-border">
                        <div style="float:right">
                            <input type="submit" id="btnSave" name="CommandName" value="@ViewData["ButtonName"]" class="btn btn-primary btn-flat " />
                            <a asp-controller="RoleMaster" asp-action="RoleCreation" class="btn btn-danger btn-flat">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Menu Page
                        </h3>
                    </div>
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th>Menu Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            @{
                                foreach (var item in Model.MenuCheckList)
                                {
                                    <partial name="_MenuList" model="item" />
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="box box-primary">
                    <h4 class="box-title">
                        Role Master Existing
                    </h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.RoleList)
                                {
                                    <tr>
                                        <td>@item.role_name</td>
                                        <td>@item.description</td>
                                        <td>
                                            <a asp-controller="RoleMaster" asp-action="RoleCreation" asp-route-id="@item.role_id" class="fa fa-pencil"></a> |
                                            <a asp-controller="RoleMaster" asp-action="Delete" asp-route-id="@item.role_id " class="fa fa-close"></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>
</section>


@section Scripts{
    <script>
        $(document).ready(function () {

            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)

            $("#btnSave").click(function () {
                var flag = 0;
                $.each($(".checkbox"), function (key, value) {
                    if ($(this).prop('checked') == true) {
                        flag++;
                    }
                });
                if (flag == 0) {
                    alert("Please Chceked at Least One Menu");
                    return false;
                }
            });
        });
    </script>
}



