﻿@model Onet_App.Models.ViewModel.UserVM
@using HtmlHelpers.BeginCollectionItemCore

@{
    using (Html.BeginCollectionItem("NewAgentList"))
    {
        <tr>
            <td>@Model.user_fullname  <input type="hidden" asp-for="@Model.user_id" /></td>
            <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
        </tr>
    }
}


