﻿@model Onet_App.Models.ViewModel.CRMVM
@using HtmlHelpers.BeginCollectionItemCore

@{
    using (Html.BeginCollectionItem("LeadList"))
    {
        <tr>
            <td><input type="checkbox" asp-for="is_selected" /></td>
            <td>@Model.phone1</td>
            <td>@Model.account_name</td>
            <td>@Model.account_no</td>
            <td>@Model.callout_status_level1_Text<input type="hidden" asp-for="crm_id" /></td>
        </tr>
    }
}
