﻿
@model Onet_App.Models.ViewModel.UserVM
@using HtmlHelpers.BeginCollectionItemCore

<div class="col-md-6">
    @{
        using (Html.BeginCollectionItem("ExistingAgentList"))
        {
            <input type="hidden" asp-for="@Model.user_id" />
            <tr>
                <td>@Model.user_fullname</td>
                <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
            </tr>
        }
    }
</div>

