﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Onet CRM Admin</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
        <link href="~/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/css/skins/skin-blue.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <link href="~/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/css/AdminLTE.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/skins/skin-blue.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @{

        Onet_App.Models.ViewModel.UserVM _userModel = Context.Session.GetObjectFromJson<Onet_App.Models.ViewModel.UserVM>(Onet_App.Models.Services.RoleType.QA);
        if (_userModel == null)
        {
            Context.Response.Redirect(Url.Action("Login", "User"));
        }

        var user_fullname = _userModel == null ? "" : _userModel.user_fullname;
        var role_name_text = _userModel == null ? "" : _userModel.role_name_text;

    }
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>O</b>net</span>
                <span class="logo-lg"><b>O</b>net</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu" id="dde">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="dropdownMenu">
                                <img src="~/images/Lgorithm-64x64.png" class="user-image" alt="User Image" style="background-color: #fff;">
                                <span class="hidden-xs">@user_fullname</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="~/images/Lgorithm-64x64.png" class="img-circle" alt="User Image" style="background-color: #fff;">
                                    <p>
                                        @user_fullname - @role_name_text
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        @Html.ActionLink("Sign out", "Login", new { @controller = "User" }, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/images/Lgorithm-64x64.png" class="img-circle" alt="User Image" style="background-color: #fff;">
                    </div>
                    <div class="pull-left info">
                        <p>@user_fullname</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">HEADER</li>
                    @{
                        if (role_name_text == Onet_App.Models.Services.RoleType.Admin)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span>Masters</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","Campaign")"><i class="fa fa-link"></i> <span>Campaign Master</span></a></li>
                                    <li><a href="@Url.Action("Index","User")"><i class="fa fa-link"></i> <span>User Master</span></a></li>
                                    <li><a href="@Url.Action("Index","UserGroup")"><i class="fa fa-link"></i> <span>User Group Master</span></a></li>
                                    <li><a href="@Url.Action("Index","Disposition")"><i class="fa fa-link"></i> <span>Disposition Master</span></a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span>Lead Management</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("LeadUpload","CRM")"><i class="fa fa-link"></i> <span>Lead Upload</span></a></li>
                                    <li><a href="@Url.Action("ManualAssignment","CRM")"><i class="fa fa-link"></i> <span>Manual Assignment</span></a></li>
                                    <li><a href="@Url.Action("LeadReAssignment","CRM")"><i class="fa fa-link"></i> <span>Lead Reassignment</span></a></li>
                                    <li><a href="@Url.Action("PaymentFileUpload","CRM")"><i class="fa fa-link"></i> <span>Update Payment</span></a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>Reports</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("LeadDownload","CRM")"><i class="fa fa-link"></i> <span>Lead Reports</span></a></li>
                                    <li><a href="@Url.Action("RemarkDownload","CRM")"><i class="fa fa-link"></i> <span>Remark History Report</span></a></li>
                                    <li><a href="@Url.Action("CrmActivity","CRM")"><i class="fa fa-link"></i> <span>Activity History Report</span></a></li>
                                </ul>
                            </li>

                        }
                        else if (role_name_text == Onet_App.Models.Services.RoleType.Supervisor)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span>Masters</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Index","UserGroup")"><i class="fa fa-link"></i> <span>User Group Master</span></a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span>Lead Management</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("ManualAssignment","CRM")"><i class="fa fa-link"></i> <span>Manual Assignment</span></a></li>
                                    <li><a href="@Url.Action("LeadUpload","CRM")"><i class="fa fa-link"></i> <span>Lead Upload</span></a></li>
                                    <li><a href="@Url.Action("LeadReAssignment","CRM")"><i class="fa fa-link"></i> <span>Lead Reassignment</span></a></li>
                                    <li><a href="@Url.Action("CRMBucket","CRM")"><i class="fa fa-link"></i> <span>Lead Bucket</span></a></li>
                                    <li><a href="@Url.Action("PaymentFileUpload","CRM")"><i class="fa fa-link"></i> <span>Update Payment</span></a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>Reports</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("LeadDownload","CRM")"><i class="fa fa-link"></i> <span>Reports</span></a></li>
                                    <li><a href="@Url.Action("RemarkDownload","CRM")"><i class="fa fa-link"></i> <span>Remark History Report</span></a></li>
                                    <li><a href="@Url.Action("CrmActivity","CRM")"><i class="fa fa-link"></i> <span>Activity History Report</span></a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
            <div class="clearfix"></div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/adminlte.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/bundle.js" asp-append-version="true"></script>
    </environment>
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).on('click', '#dropdownMenu', function (e) {
            $("#dde").toggleClass("open");
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
