﻿@model Onet_App.Models.ViewModel.MenuMasterVM
@using HtmlHelpers.BeginCollectionItemCore

<div class="col-md-6">
    @{
        using (Html.BeginCollectionItem("MenuCheckList"))
        {
            <input type="hidden" asp-for="@Model.menu_id" />
            <tr>
                <td>@Model.menu_name</td>
                <td><input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
            </tr>
        }
    }
</div>


