﻿
@model Onet_App.Models.ViewModel.UserGroupVM
@using HtmlHelpers.BeginCollectionItemCore


@{
    using (Html.BeginCollectionItem("UserGroupList"))
    {
        
            <input type="hidden" asp-for="@Model.group_id" />
            <tr>
                <td>@Model.group_name</td>
                <td>  <input type="checkbox" class="checkbox" asp-for="@Model.is_selected" /></td>
            </tr>
      

    }
}