﻿@model Onet_App.Models.ViewModel.KeywordsCreationVM
@{
    ViewData["Title"] = "Index";
}
<form asp-controller="Keyword" asp-action="Index" method="post">
    <section class="content-header">
        <h1>Keyword Creation</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }

                <section class="content">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <span>Keyword Creation</span>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label><span style="color: #ff0000;">*</span> Keyword Name: </label>
                                        <input type="text" class="form-control CharcaterTextBox" id="txtkeywords" placeholder="Keyword Name" asp-for="keyword_name">
                                        <span asp-validation-for="keyword_name" class=" text-danger"></span>
                                        <input type="hidden" asp-for="key_id">
                                    </div>
                                    <div class="form-group">
                                        <label> Keyword Description: </label>
                                        <textarea class="form-control CharcaterTextBox" id="txtkeyword" placeholder=" Keyword Description" asp-for="keyword_description"></textarea>
                                    </div>


                                    <div class="box-footer with-border">
                                        <div class="pull-right">
                                            <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value=Save />
                                            <a asp-controller="Keyword" asp-action="Index" class="btn btn-danger btn-flat">Clear</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="box box-primary">
                                <h6 class="box-title">
                                    Keyword Details
                                </h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Keyword Name</th>
                                            <th>Keyword Description</th>

                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            foreach (var item in Model.keywordsList)
                                            {
                                                <tr>
                                                    <td>@item.keyword_name</td>
                                                    <td>@item.keyword_description</td>
                                                </tr>
                                            }
                                            i = i + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
</form>
            