﻿
@model Onet_App.Models.ViewModel.SMSTemplateVM

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="SMSTemplate" asp-action="Index" method="post">

    <section class="content-header">
        <h1>SMS Template Creation</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }

    <section class="content">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>SMS Template Creation</span>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>SMS Template Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="sms_template_name" placeholder="SMS Template Name" asp-for="sms_template_name">
                            <span asp-validation-for="sms_template_name" class=" text-danger"></span>
                            <input type="hidden" asp-for="id" />
                            <input type="hidden" asp-for="isactive" />
                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>SMS Template Description: </label>
                            <textarea class="form-control CharcaterTextBox" id="sms_template_description" placeholder="SMS Template Description" asp-for="sms_template_description"></textarea>
                            <span asp-validation-for="sms_template_description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>SMS Template Definition: </label>
                            <textarea class="form-control CharcaterTextBox" id="sms_template_definition" placeholder="SMS Template Definition" asp-for="sms_template_definition"></textarea>
                            <span asp-validation-for="sms_template_definition" class="text-danger"></span>
                        </div>


                        <div class="form-group">

                            <label>Keyword: </label>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <select id="ddlkeywords" asp-for="keyword" asp-items="@(new SelectList(Model.KeywordList,"keyword_name","keyword_name"))" class="form-control " ><option value="0">--Select--</option></select>
                                </div>
                                <div class="col-md-4">
                                    <input type="button" class="btn btn-primary btn-flat" id="btnAdd" value="Add" onclick="GetKeyword();"/>
                                </div>
                            </div>
                            <span asp-validation-for="keyword" class=" text-danger"></span>
                        </div>


                    </div>
                    <div class="box-footer with-border">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" value="Save" name="CommandName" />
                            <input type="submit" class="btn btn-primary btn-flat" id="btnUpdate" value="Update" name="CommandName" />
                            <a asp-controller="SMSTemplate" asp-action="Index" class="btn btn-danger btn-flat">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary" style="overflow:auto;">
                    <div class="box-header with-border">
                        <span>SMSTemplate Details</span>
                    </div>
                    <div class="box-body">
                        <table class="table" id="tblData">
                            <thead>
                                <tr>
                                    <th>SMSTemplate Name</th>
                                    <th>SMSTemplate Desciption</th>
                                    <th>SMSTemplate Definition</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                   
                                    foreach (var item in Model.SMSTemplateVMList)
                                    {
                                <tr>
                                    <td>@item.sms_template_name</td>
                                    <td>@item.sms_template_description</td>
                                    <td>@item.sms_template_definition</td>
                                    <td>
                                        <a asp-controller="SMSTemplate" asp-action="Index" asp-route-id="@item.id" class="fa fa-pencil"></a>|
                                        <a asp-controller="SMSTemplate" asp-action="DeleteTemplate" asp-route-id="@item.id" class="fa fa-close"></a>
                                    </td>

                                </tr>
                                    }
                                 
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#sms_template_definition").keypress(function (event) {
                var ascii = event.which;
                console.log(event);
                if (event.key == '#' ) {
                    event.preventDefault();
                }
            });
            $("#btnUpdate").hide();
            $("#btnSubmit").show();
            var id = '@Model.id';
            if (id != null && id != '0') {
                $("#btnSubmit").hide();
                $("#btnUpdate").show();
            } else {

                $("#btnSubmit").show();
                $("#btnUpdate").hide();
            }
                });
                
        function GetKeyword() {
            var keyword = $("#ddlkeywords option:selected").val();
          if (keyword != 0) {
               var final = "#" + keyword+ " ";
                var cursorPosition = $('#sms_template_definition').prop("selectionStart");
            
              var front = ($('#sms_template_definition').val()).substring(0, parseInt(cursorPosition));
              var back = ($('#sms_template_definition').val()).substring(parseInt(cursorPosition), parseInt($('#sms_template_definition').val().length));
              $('#sms_template_definition').val(front + " " + final + " " + back);
              
             
            }
                }

               
    </script>
} 