﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "Customer Information Page";
    Onet_App.Models.ViewModel.UserVM _userModel = Context.Session.GetObjectFromJson<Onet_App.Models.ViewModel.UserVM>(Onet_App.Models.Services.RoleType.QA);
    if (_userModel == null)
    {
        Context.Response.Redirect(Url.Action("Login", "User"));
    }

    var role_name_text = _userModel == null ? "" : _userModel.role_name_text;

    if (role_name_text == Onet_App.Models.Services.RoleType.Agent)
    {
        Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    }
}



<section class="content">
    <div class="modal fade" id="modalScheduleCall" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="modalScheduleCallLabel" style="align-content:center">
        <div class="modal-dialog modal-lg" role="document">
            <form asp-controller="CRM" asp-action="Index" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnclosemodalScheduleCall" class="close" onclick="$('#modalScheduleCall').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Activity History</h4>
                    </div>
                    <div class="modal-body">
                        <span>Activity History Creation</span>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Activity Name:</label>
                            <select id="ddActivity" asp-for="activity_name" class="form-control" onchange="GetTime()">
                                <option value="0">--Select--</option>
                                <option value="Outgoing_Call">Outgoing Call</option>
                                <option value="Outgoing_Email">Outgoing Email</option>
                                <option value="Outgoing_SMS">Outgoing SMS</option>
                                <option value="Incoming_Email">Incoming Email</option>
                                <option value="Incoming_SMS">Incoming SMS</option>
                                <option value="Field_Visit">Field Visit</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Time Stamp: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtDate" placeholder="Status" asp-for="time_stamp" readonly="readonly">
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Status: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtShort" placeholder="Status" asp-for="activity_status">
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Summary: </label>
                            <textarea asp-for="activity_summary" class="form-control CharcaterTextBox" id="txtShort" placeholder="Summary"></textarea>
                        </div>
                        <input type="hidden" asp-for="phone1" />
                        <input type="hidden" asp-for="isautomate" />
                        <input type="hidden" asp-for="crm_id" />
                        <input type="hidden" asp-for="campaign_id" />
                    </div>
                    <div class="box-footer">
                        <input type="submit" class="btn btn-success btn-flat pull-right" id="btnAdd" name="CommandName" value="Add Activity" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }
    <form asp-controller="CRM" asp-action="Index" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>@ViewData["Title"]</span>
                    <div class="pull-right">
                        @if (!Model.isautomate && !String.IsNullOrWhiteSpace(Model.phone1) && (Model.phone1 != "0"))
                        {
                            <a href="#" class="btn btn-success btn-flat" onclick="ClickToCall('@Model.phone1');">
                                Call @Model.phone1
                            </a>
                        }

                        @if (!Model.isautomate && !String.IsNullOrWhiteSpace(Model.phone2) && (Model.phone2 != "0"))
                        {
                            <a href="#" class="btn btn-success btn-flat" onclick="ClickToCall('@Model.phone2');">
                                Call @Model.phone2
                            </a>
                        }  @if (!Model.isautomate && !String.IsNullOrWhiteSpace(Model.phone3) && (Model.phone3 != "0"))
                        {
                            <a href="#" class="btn btn-success btn-flat" onclick="ClickToCall('@Model.phone3');">
                                Call @Model.phone3
                            </a>
                        }  @if (!Model.isautomate && !String.IsNullOrWhiteSpace(Model.phone4) && (Model.phone4 != "0"))
                        {
                            <a href="#" class="btn btn-success btn-flat" onclick="ClickToCall('@Model.phone4');">
                                Call @Model.phone4
                            </a>
                        }
                        <button type="button" class="btn btn-primary btn-flat" id="btnScheduleCallBack">
                            Activity History
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>OnetID </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtattemptedcontactno" placeholder="Count of Attempted Contact Numbers" asp-for="OnetId" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Account No: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtaccountno" placeholder="Account No" asp-for="account_no">
                            <span asp-validation-for="phone1" class=" text-danger"></span>
                            <input type="hidden" asp-for="isautomate" />
                            <input type="hidden" asp-for="crm_id" />
                            <input type="hidden" asp-for="campaign_id" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Account Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtaccountname" placeholder="Account Name" asp-for="account_name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Company Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcompanyname" placeholder="Company Name" asp-for="company_name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtaddress" placeholder="Address" asp-for="address">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtptpdate" placeholder="City" asp-for="city">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Phone 1: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcontactno" placeholder="Contact Number" asp-for="phone1" />
                            <span asp-validation-for="phone1" class=" text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone Extension: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtptpdate" placeholder="Phone Extension" asp-for="phone_extension" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone 2: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtphone1" placeholder="Phone 1" asp-for="phone2">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone 3: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtphone2" placeholder="Phone 2" asp-for="phone3">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtemailid" placeholder="Email" asp-for="email">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service Id No: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="ptpdate" placeholder="Service Id No" asp-for="service_id_no">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Outstanding Balance: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtoutstanding" placeholder="Outstanding Balance" asp-for="outstanding_balance">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Invoice Amount: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtinvoiceamount" placeholder="Invoice Amount" asp-for="invoice_amount">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Invoice No: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtinvoiceno" placeholder="Invoice No" asp-for="invoice_no">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>
                                Date Invoice:
                            </label>
                            <input type="date" class="form-control CharcaterTextBox" id="txtassociate_name" placeholder="Date Invoice" asp-for="date_invoice">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Amount Collected: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtamountcollected" placeholder="Amount Collected" asp-for="amount_collected">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Balance For Collection: </label>
                            <select id="ddcallout1" asp-for="balance_for_collection" asp-items="@(new SelectList(Model.balanceForCollectionModels,"id","balance_collection_name"))" class="form-control "></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status: </label>
                            <select id="ddstatus" asp-for="status" asp-items="@(new SelectList(Model.statusModels,"id","status_name"))" class="form-control "></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Recommendation: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtrecommedation" placeholder="Recommendation" asp-for="recommendation">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Age Group: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtagegroup" placeholder="Age Group" asp-for="age_group">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Authorized Representatives: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtauthorized" placeholder="Authorized Representatives" asp-for="authorized_representatives">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Overdue Balance: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtoverduebalance" placeholder="Overdue Balance" asp-for="overdue_balance">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service Type: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtservicetype" placeholder="Service Type" asp-for="service_type">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Primary Region : </label>
                            <select id="ddregion" asp-for="region_primary" asp-items="@(new SelectList(Model.regionModel,"id","region_name"))" class="form-control" onchange="GetRegionSecondary(this.value);"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Secondary Region : </label>
                            <select id="ddlregionSecondary" asp-for="region_secondary" class="form-control "><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Give New Contact No: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtgivemecontactno" placeholder="Give New Contact No" asp-for="give_new_contact_no">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>PTP Date: </label>
                            <input type="date" class="form-control CharcaterTextBox" id="txtptpdate" placeholder="PTP Date" asp-for="ptp_date">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Financial Contact Person: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtreasonnonpayment2" placeholder="Financial Contact Person" asp-for="financial_contact_person">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Callout Status Level 1: </label>
                            <select id="ddcallout1" asp-for="callout_status_level1" asp-items="@(new SelectList(Model.dispositionModels,"disposition_id","disposition_name"))" class="form-control " onchange="GetChildDisposition(this,1);"></select>
                            <span asp-validation-for="callout_status_level1"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Callout Status Level 2: </label>
                            <select id="ddcallout2" asp-for="callout_status_level2" class="form-control " onchange="GetChildDisposition(this,2);"><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Callout Status Level 3: </label>
                            <select id="ddcallout3" asp-for="callout_status_level3" class="form-control " onchange="GetChildDisposition(this,3);"><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Callout Status Level 4: </label>
                            <select id="ddcallout4" asp-for="callout_status_level4" class="form-control " onchange="GetChildDisposition(this,4);"><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Callout Status Level 5: </label>
                            <select id="ddcallout5" asp-for="callout_status_level5" class="form-control "><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Reason for Non Payment Level1: </label>
                            <select id="ddReasonfornonpayment1" asp-for="reason_for_non_payment_level1" asp-items="@(new SelectList(Model.reasonForNonPaymentModels,"id","reason_for_non_payment_name"))" class="form-control" onchange="GetReasonforNonPayment(this.value);"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Reason for Non Payment Level2: </label>
                            <select id="ddlreason_for_non_payment_level2" asp-for="reason_for_non_payment_level2" class="form-control"><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>PTP Amount: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtptpamount" placeholder="PTP Amount" asp-for="ptp_amount">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mode of Settlement: </label>
                            <select id="ddmodeofsettlement" asp-for="mode_of_settlement" asp-items="@(new SelectList(Model.modeOfSettlementModels,"id","modeofsettlement_name"))" class="form-control "></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Payment Channel: </label>
                            <select id="ddpaymentchannel" asp-for="payment_channel" asp-items="@(new SelectList(Model.paymentChannelModels,"id","payment_channel_name"))" class="form-control "></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Number of Accounts: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtaccountsno" placeholder="Number of Accounts" asp-for="number_of_accounts">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Skip Trace </label>
                            <select id="ddskiptrace" asp-for="skip_trace" asp-items="@(new SelectList(Model.skipTraceModels,"id","skip_trace_name"))" class="form-control " onchange="GetSkipTrace(this.value);"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Skip Trace Child: </label>
                            <select id="ddlskip_trace_child" asp-for="skip_trace_child" class="form-control "><option value="0">--Select--</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Contacted Number: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtphone3" placeholder="Contacted Number" asp-for="phone4">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Count of Attempted Contact Numbers: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtattemptedcontactno" placeholder="Count of Attempted Contact Numbers" asp-for="count_of_attempted_contact_numbers" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Select CallBack: </label>
                            <select id="ddselectcallback" asp-for="select_callback" class="form-control" onchange="AddCallBackTextbox(this.value);">
                                <option value="0">--select--</option>
                                <option value="1">CallBack</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label> Endorsed By: </label>
                            <select id="ddskiptrace" asp-for="endorsement_id" asp-items="@(new SelectList(Model.EndorserModelList,"id","endorser_name"))" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-3" id="txtoptional">
                        <div class="form-group">
                            <label>List Name: </label>
                            <input class="form-control CharcaterTextBox" type="text" id="txtlistname" asp-for="list_name" readonly="readonly" />
                        </div>
                    </div>



                    <div class="col-md-3" id="txtcallback">
                        <div class="form-group">
                            <label>Call Back Time</label>
                            <input asp-for="callback_date_time" type="datetime-local" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3" style="display:none">
                        <div class="form-group">
                            <label>PTP Dated By: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtptpdated" placeholder="PTP Dated By" asp-for="ptp_dated_by">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Remarks: </label>
                            <textarea asp-for="remarks" class="form-control CharcaterTextBox" id="txtremark" placeholder="Remarks"></textarea>
                            <span asp-validation-for="remarks" class=" text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary btn-flat" id="btnAdd" value="Add" name="CommandName" />
                        @{
                            if (Model.isautomate)
                            {
                                <a asp-controller="CRM" asp-action="Index" asp-route-mobile="" asp-route-isautomate="@Model.isautomate" class="btn btn-danger btn-flat">Clear</a>
                            }
                            else
                            {
                                <a asp-controller="CRM" asp-action="CRMBucket" class="btn btn-danger btn-flat">Clear</a>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary" style="overflow:auto;">
                <div class="box-header with-border">
                    <span>Remark Details</span>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Remark</th>
                                <th>Remark by</th>
                                <th>Remark Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.remarklist)
                                {
                                    <tr>
                                        <td>@item.remark</td>
                                        <td>@item.createdbyname</td>
                                        <td>@item.createdon.ToString("MM/dd/yyyy hh:mm:ss tt")</td>
                                    </tr>
                                }
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary" style="overflow:auto;">
                <div class="box-header with-border">
                    <span>Activity Details</span>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Activity Name</th>
                                <th>Status</th>
                                <th>Activity Time</th>
                                <th>Summary</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int j = 1;
                                foreach (var item in Model.activityHistoryList)
                                {
                                    <tr>
                                        <td>@item.activity_name</td>
                                        <td>@item.status</td>
                                        <td>@item.createdon.ToString("MM/dd/yyyy hh:mm:ss tt")</td>
                                        <td>@item.summary</td>

                                    </tr>
                                }
                                j = j + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>
</section>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtcallback").hide();
            $('#ddcallout1').val('0');
            $("#btnScheduleCallBack").click(function () {
                $('#modalScheduleCall').modal('toggle');
            });
        });
        function AddCallBackTextbox(val) {
            if (val == "1") {
                $("#txtcallback").show();
            }
            else {
                $("#txtcallback").hide();
            }
        }
        function GetChildDisposition(e, level) {
            var Childdropdowncontrol = $(e);
            var ParentdropdowncontrolText = e.value;
            var html = '';
            switch (level) {
                case 1:
                    Childdropdowncontrol = $("#ddcallout2");
                    break;
                case 2:
                    Childdropdowncontrol = $("#ddcallout3");
                    break;
                case 3:
                    Childdropdowncontrol = $("#ddcallout4");
                    break
                case 4:
                    Childdropdowncontrol = $("#ddcallout5");
            }
            console.log('!!!!', ParentdropdowncontrolText);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDispositionData", "CRM")',
                data: { DispositionId: ParentdropdowncontrolText },
                success: function (data) {
                    var html = '';
                    html = '<option value="0">--Select--</option>';
                    if (data != null) {
                        $.each(data, function (key, value) {
                                console.log(value.disposition_id);
                                console.log(value);
                                html += '<option value="' + value.disposition_id + '">' + value.disposition_name + '</option>'
                        });
                        Childdropdowncontrol.empty();
                        Childdropdowncontrol.append(html);
                    }
                }
            });
        };

        function ClickToCall(Mobile) {
            console.log(Mobile);
            debugger;
            $.ajax({
                async: false,
                type: 'GET',
                url: '@Url.Action("ClicktoCall", "CRM")',
                dataType: 'json',
                data: { ContactNo: Mobile },
                success: function (result) {
                    console.log(result);
                    if (result) {
                        availability = false;
                    }
                }
            });
        };

        function GetReasonforNonPayment(a)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetReasonforNonPayment", "CRM")',
                data: { Id: a},
                success: function (data) {
                    var html = '';
                    html = '<option value="0">--Select--</option>';
                    if (data != null) {
                        $.each(data, function (key, value) {
                            html += '<option value="' + value.id + '">' + value.reason_for_non_payment_child_name + '</option>'
                        });
                        $("#ddlreason_for_non_payment_level2").empty();
                        $("#ddlreason_for_non_payment_level2").append(html);
                    }
                }
            });
        };

        function GetRegionSecondary(a)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSecondaryRegionData", "CRM")',
                data: { Id: a},
                success: function (data) {
                    var html = '';
                    html = '<option value="0">--Select--</option>';
                    if (data != null) {
                        console.log(data);
                        $.each(data, function (key, value) {
                            html += '<option value="' + value.id + '">' + value.region_secondary + '</option>'
                        });
                        $("#ddlregionSecondary").empty();
                        $("#ddlregionSecondary").append(html);
                    }
                }
            });
        };

        function GetSkipTrace(a)
                {
                $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSkipTrace", "CRM")',
                data: { Id: a},
                success: function (data) {
                var html = '';
                html = '<option value="0">--Select--</option>';
                if (data != null) {
                console.log(data);
                $.each(data, function (key, value) {
                html += '<option value="' + value.id + '">' + value.skip_trace_child  + '</option>'
                });
                $("#ddlskip_trace_child").empty();
                $("#ddlskip_trace_child").append(html);
                }
                }
                });
        }
        function GetTime() {
            var currentdate = new Date();
            var datetime = (currentdate.getMonth() + 1) + "/" + currentdate.getDate() + "/"
                + currentdate.getFullYear() + "  "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
            $("#txtDate").val(datetime);
        }
      
    </script>
}


