﻿@model Onet_App.Models.ViewModel.CampaignVM
@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>Campaign Creation</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">
    <form asp-controller="Campaign" asp-action="Index" method="post">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>Campaign Creation</span>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Campaign Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcampaignname" placeholder="Campaign Name" asp-for="campaign_name">
                            <span asp-validation-for="campaign_name" class=" text-danger"></span>
                            <input type="hidden" asp-for="campaign_id" />
                            <input type="hidden" asp-for="isactive" />
                        </div>

                        <div class="form-group">
                            <label>List Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcampaignlistname" placeholder="List Name" asp-for="list_name">
                        </div>


                        <div class="form-group">
                            <label>Skills Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcampaignskillsname" placeholder="Skills Name" asp-for="skills_name">

                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Q-Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtcampaignskillsname" placeholder="Q-Name" asp-for="q_name">

                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>UniqueValue: </label>
                            <select class="form-control" id="UniqueColumn" asp-for="UniqueValue">
                                <option>--select--</option>
                                <option value="Account Number">Account Number</option>
                                <option value="Account Name">Account Name</option>
                                <option value="Phone Number">Phone Number</option>
                                <option value="Invoice Number">Invoice Number</option>
                            </select>
                            <span asp-validation-for="UniqueValue" class="danger"></span>
                        </div>
                        <div class="form-group">
                            <label>IsAutomated: </label>
                            <input type="checkbox" id="cblcampaignisautomated" asp-for="campaign_isautomated" value="true">
                        </div>


                        <div class="box-footer with-border">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="@ViewData["ButtonName"]" />
                                <a asp-controller="Campaign" asp-action="Index" asp-route-id="" class="btn btn-danger btn-flat">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="box box-primary" style="overflow:auto;">
                    <div class="box-header with-border">
                        <span>Campaign Details</span>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Campaign Name</th>
                                    <th>Skills Name</th>
                                    <th>List Name</th>
                                    <th>Q-Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model._campaignslst)
                                    {
                                        <tr>
                                            <td>@item.campaign_name</td>
                                            <td>@item.skills_name</td>
                                            <td>@item.list_name</td>
                                            <td>@item.q_name</td>
                                            <td>
                                                <a asp-controller="Campaign" asp-action="Index" asp-route-id="@item.campaign_id" class="fa fa-pencil"></a> |
                                                <a asp-controller="Campaign" asp-action="Delete" asp-route-id="@item.campaign_id" class="fa fa-close" onclick="return confirm('Are you sure?')"></a>
                                            </td>
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}   