﻿
@model Onet_App.Models.ViewModel.UserGroupVM
@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>User Group Creation</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">
    <form asp-controller="UserGroup" asp-action="AssignUser" method="post" enctype="multipart/form-data">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Map Existing Agent</a></li>
                <li><a href="#tab_2" data-toggle="tab">Map New Agents</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">



                    <div class="box box-default">

                        <div class="box-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Group Name: </label>
                                    <input type="text" class="form-control CharcaterTextBox" id="txtgroupname" asp-for="group_name" readonly="readonly">
                                    <span asp-validation-for="group_name" class=" text-danger"></span>
                                    <input type="hidden" asp-for="group_id" />
                                    <input type="hidden" asp-for="campaign_id" />
                                    <input type="hidden" asp-for="isactive" />
                                </div>

                                <div class="form-group">
                                    <label>Campaign Name: </label>
                                    <input type="text" class="form-control CharcaterTextBox" id="txtgroupname" asp-for="campaign_name" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label class="pull-left">Agent List: </label>
                                    <table class="table table-fixed">
                                        <tbody id="tblBody">
                                            @{
                                                if (Model.ExistingAgentList != null)
                                                {
                                                    foreach (var item in Model.ExistingAgentList)
                                                    {
                                                        <partial name="_ExistingAgentList" model="item" />
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="box-footer with-border">
                                    <div class=" pull-right">
                                        <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="Update" />
                                        <a asp-controller="UserGroup" asp-action="assignUser" class="btn btn-danger btn-flat">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
                <div class="tab-pane" id="tab_2">



                    <div class="box box-default">

                        <div class="box-body">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Group Name: </label>
                                    <input type="text" class="form-control CharcaterTextBox" id="txtgroupname" asp-for="group_name" readonly="readonly">
                                    <span asp-validation-for="group_name" class=" text-danger"></span>
                                    <input type="hidden" asp-for="group_id" />
                                    <input type="hidden" asp-for="campaign_id" />
                                    <input type="hidden" asp-for="isactive" />
                                </div>

                                <div class="form-group">
                                    <label>Campaign Name: </label>
                                    <input type="text" class="form-control CharcaterTextBox" id="txtgroupname" asp-for="campaign_name" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label class="pull-left">Agent List: </label>
                                    <table class="table table-fixed">
                                        <tbody id="tblBody">
                                            @{
                                                if (Model.NewAgentList != null)
                                                {
                                                    foreach (var item in Model.NewAgentList)
                                                    {
                                                        <partial name="_AgentList" model="item" />
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="box-footer with-border">
                                    <div class=" pull-right">

                                        <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="Add" />
                                        <a asp-controller="UserGroup" asp-action="AssignUser" class="btn btn-danger btn-flat">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}   