﻿
@model Onet_App.Models.ViewModel.UserGroupVM
@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>User Group Creation</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        <div class="alert alert-info" id="MsgDiv1">
            <label id="#MsgDiv">@TempData["Msg"]</label>
        </div>
    }
}
<section class="content">
    <form asp-controller="UserGroup" asp-action="Index" method="post">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>User Group Creation</span>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>User Group Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtgroupname" placeholder="User Group Name" asp-for="group_name">
                            <span asp-validation-for="group_name" class=" text-danger"></span>
                            <input type="hidden" asp-for="group_id" />
                            <input type="hidden" asp-for="isactive" />
                        </div>

                        <div class="form-group">
                            <label>Campaign Name: </label>
                            <select id="ddlcampaign" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control"></select>
                            <span asp-validation-for="campaign_id" class=" text-danger"></span>
                        </div>
                        <div class="box-footer with-border">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary btn-flat " id="btnSubmit" name="CommandName" value="@ViewData["ButtonName"]" />
                                <a asp-controller="UserGroup" asp-action="Index" asp-route-id="" class="btn btn-danger btn-flat">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="box box-primary" style="overflow:auto;">
                    <div class="box-header with-border">
                        <span>User Group Details</span>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Group Name</th>
                                    <th>Campaign Name</th>
                                    <th>Map users</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.UserGroupList)
                                    {
                                        <tr>
                                            <td>@item.group_name</td>
                                            <td>@item.campaign_name</td>
                                            <td><a asp-controller="UserGroup" asp-action="AssignUser" asp-route-group_id="@item.group_id" asp-route-campaign_id="@item.campaign_id" class="btn btn-warning btn-flat">Map Users</a></td>
                                            <td>
                                                <a asp-controller="UserGroup" asp-action="Index" asp-route-id="@item.group_id" class="fa fa-pencil"></a> |
                                                <a asp-controller="UserGroup" asp-action="Delete" asp-route-id="@item.group_id" class="fa fa-close"></a>
                                            </td>
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);
           
            var val = $("ddl_agentlist").val();
            console.log(val);
        });
        @*function AddAgentList(val) {
            $("#tblBody").contents().remove();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AgentListPartial", "UserGroup")',
                    data: { CampaignId: val },
                    success: function (data) {
                        console.log(data);
                        $("#tblBody").append(data);
                    }
                });
        }*@
    </script>
}