﻿@model Onet_App.Models.ViewModel.UserVM
@{
    ViewData["Title"] = "Change Password";
}

<form asp-controller="User" asp-action="ChangePassword" method="post">
    <div class="login-box">
        <section class="content-header"></section>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Change Password Panel</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label><span style="color: #ff0000;">*</span>User Name: </label>
                        <input type="text" class="form-control CharcaterTextBox" id="txtdesignationname" placeholder="User Name" asp-for="username" readonly="readonly">
                        <span asp-validation-for="username" class=" text-danger"></span>
                        <input type="hidden" asp-for="user_id" />
                        <input type="hidden" asp-for="isactive" />
                    </div>

                    <div class="form-group">
                        <label><span style="color: #ff0000;">*</span>New Password: </label>
                        <input type="password" class="form-control CharcaterTextBox" id="txtinitials" placeholder="Password" asp-for="user_password">
                        <span asp-validation-for="user_password" class="text-danger"></span>
                    </div>

                </div>
                <div class="box-footer">
                    <div style="float:right">
                        <input type="submit" value="Save" name="CommandName" id="btnUpdate" class="btn btn-primary btn-flat" style="margin-top:2%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}   