﻿@model Onet_App.Models.ViewModel.UserVM
@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="User" asp-action="Edit" method="post">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">User Edit Panel</h3>
            </div>
            <div class="box-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label><span style="color: #ff0000;">*</span>User Name: </label>
                        <input type="text" class="form-control CharcaterTextBox" id="txtdesignationname" placeholder="User Name" asp-for="username">
                        <span asp-validation-for="username" class=" text-danger"></span>
                        <input type="hidden" asp-for="user_id" />
                        <input type="hidden" asp-for="isactive" />
                    </div>

                    <div class="form-group ">
                        <label><span style="color: #ff0000;">*</span>User FullName: </label>
                        <input type="text" class="form-control CharcaterTextBox" id="txtinitials" placeholder="User  Full Name" asp-for="user_fullname">
                        <span asp-validation-for="user_fullname" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">
                            Role :
                        </label>
                        <select id="ddlrole" asp-for="role_name" asp-items="@(new SelectList(Model.RoleList,"role_id","role_name"))" class="form-control " onchange="AddDropDown(this);"></select>
                        <span asp-validation-for="role_name" class=" text-danger"></span>
                    </div>

                    <div class="form-group " id="ddlcampaign">
                        <label class="control-label">
                            Campaign Name :
                        </label>
                        <select asp-for="campaign_id" id="txtcampaignID" asp-items="@(new SelectList(Model.CampaignList, "campaign_id", "campaign_name"))" class="form-control "></select>
                    </div>
                    <div class="form-group" id="ddlusergroup">
                        <label class="control-label">
                            UserGroup :
                        </label>
                        @*<select asp-for="usergroup_id" id="txtusergroup_id" asp-items="@(new SelectList(Model.UserGroupList,"group_id","group_name"))" class="form-control "></select>*@
                        <table class="table table-fixed">

                            <tbody id="tblBody">
                                @{
                                    foreach (var item in Model.UserGroupList)
                                    {
                                        <partial name="_UserGroupList" model="item" />
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-lg-3">
                    <input type="submit" value="Update" name="CommandName" id="btnUpdate" class="btn btn-primary btn-flat" />
                </div>
                <div class="col-lg-3">
                    @Html.ActionLink("Back", "Index", new { @controller = "User" }, new { @class = "btn btn-danger btn-flat" })
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);
            $("#ddlcampaign").hide();
            $("#ddlusergroup").hide();
            var _val = $("#ddlrole option:selected").text();
            console.log(_val);
            if (_val == "Agent") {
                $("#ddlcampaign").show();
                $("#ddlusergroup").hide();
            }
            else if (_val == "Supervisor") {
                $("#ddlcampaign").hide();
                $("#ddlusergroup").show();
            }
            else {

                $("#ddlcampaign").hide();
                $("#ddlusergroup").hide();
            }
        });

        function AddDropDown(val) {
            $("#ddlcampaign").hide();
            $("#ddlusergroup").hide();
            var _val = $("#ddlrole option:selected").text();
            console.log(_val);
            if (_val == "Agent") {
                $("#ddlcampaign").show();
                $("#ddlusergroup").hide();
            }
            else if (_val == "Supervisor") {
                $("#ddlcampaign").hide();
                $("#ddlusergroup").show();
            }
            else {

                $("#ddlcampaign").hide();
                $("#ddlusergroup").hide();
            }
        }
    </script>
}
