﻿@model Onet_App.Models.ViewModel.UserVM
@{
    ViewData["Title"] = "Index";
}
<form asp-controller="User" asp-action="Index" method="post">

    <section class="content-header">
        <h1>User Creation</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }

    <section class="content">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>User Creation</span>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>User Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtdesignationname" placeholder="User Name" asp-for="username">
                            <span asp-validation-for="username" class=" text-danger"></span>
                            <input type="hidden" asp-for="user_id" />
                            <input type="hidden" asp-for="isactive" />
                        </div>

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>User FullName: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtinitials" placeholder="User  Full Name" asp-for="user_fullname">
                            <span asp-validation-for="user_fullname" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label class="control-label">
                                Role :
                            </label>
                            <select id="ddlrole" asp-for="role_name" asp-items="@(new SelectList(Model.RoleList,"role_id","role_name"))" class="form-control " onchange="AddDropDown(this);"></select>
                            <span asp-validation-for="role_name" class=" text-danger"></span>
                        </div>
                        <div class="form-group" id="ddlcampaign">
                            <label class="control-label">
                                Campaign Name :
                            </label>
                            <select asp-for="campaign_id" id="txtcampaignID" asp-items="@(new SelectList(Model.CampaignList,"campaign_id","campaign_name"))" class="form-control "></select>
                        </div>
                        <div class="form-group" id="ddlusergroup">
                            <label class="control-label">
                                UserGroup :
                            </label>
                            @*<select asp-for="usergroup_id" id="txtusergroup_id" asp-items="@(new SelectList(Model.UserGroupList,"group_id","group_name"))" class="form-control "></select>*@
                            <table class="table table-fixed">

                                <tbody id="tblBody">
                                    @{
                                        foreach (var item in Model.UserGroupList)
                                        {
                                            <partial name="_UserGroupList" model="item" />
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>New Password: </label>
                            <input type="password" class="form-control CharcaterTextBox" id="txtpassword" placeholder="Enter Password" maxlength="50" asp-for="user_password">
                            <span asp-validation-for="user_password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Confirm Password: </label>
                            <input type="password" class="form-control CharcaterTextBox" id="txtconfirmpass" placeholder="Confirm Password" asp-for="confirm_password">
                            <span asp-validation-for="confirm_password" class="text-danger"></span>

                        </div>

                    </div>
                    <div class="box-footer with-border">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" value="Add" />
                            <a asp-controller="User" asp-action="Index" class="btn btn-danger btn-flat">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary" style="overflow:auto;">
                    <div class="box-header with-border">
                        <span>User Details</span>
                    </div>
                    <div class="box-body">
                        <table class="table" id="tblData">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>User FullName</th>
                                    <th>Role Name</th>
                                    <th>Action</th>
                                    <th>Enable/Disable</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.UserVMList)
                                    {
                                        <tr>
                                            <td>@item.username</td>
                                            <td>@item.user_fullname</td>
                                            <td>@item.role_name_text</td>
                                            <td>
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.user_id">Edit</a>|
                                                <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@item.user_id"> Change Password</a>
                                            </td>
                                            <td>
                                                @{
                                                    if (item.isactive)
                                                    {
                                                        <a asp-controller="User" asp-action="EnableDisableUser" asp-route-id="@item.user_id" title="Click to Disable"><img src="~/images/green.png" alt="Enabled" height="18" width="18" /></a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="User" asp-action="EnableDisableUser" asp-route-id="@item.user_id" title="Click to Enable"><img src="~/images/red.png" alt="Disabled" height="18" width="18" /></a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts{
    <link href="~/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblData").DataTable();
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)

            $("#ddlcampaign").hide();
            $("#ddlusergroup").hide();
        });

        function AddDropDown(val) {
            $("#ddlcampaign").hide();
            $("#ddlusergroup").hide();
            var _val = $("#ddlrole option:selected").text();
            console.log(_val);
            if (_val == "Agent") {
                $("#ddlcampaign").show();
                $("#ddlusergroup").hide();
            }
            else if (_val == "Supervisor"){
                $("#ddlcampaign").hide();
                $("#ddlusergroup").show();
            }
             else {

                $("#ddlcampaign").hide();
                $("#ddlusergroup").hide();
            }
        }
    </script>
}

