﻿@model Onet_App.Models.ViewModel.UserVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Loginlayout.cshtml";
}

<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    @if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @TempData["Msg"]
            </div>
        }
    }
    <form asp-controller="User" asp-action="Login" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="User Name" asp-for="username">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="username" class=" text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" asp-for="user_password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="user_password" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}   