﻿@model Onet_App.Models.ViewModel.EmailTemplateVM
@{
    ViewData["Title"] = "Index";
}
<form asp-controller="EmailTemplate" asp-action="Index" method="post">
    <section class="content-header">
        <h1>Email Template Creation</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }
                <section class="content">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <span>Email Template Creation</span>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label><span style="color: #ff0000;">*</span>Email Template Name: </label>
                                        <input type="text" class="form-control CharcaterTextBox" id="email_template_name" placeholder="Email Template Name" asp-for="email_template_name">
                                        <span asp-validation-for="email_template_name" class=" text-danger"></span>
                                        <input type="hidden" asp-for="id" />
                                        <input type="hidden" asp-for="isactive" />
                                    </div>
                                    <div class="form-group">
                                        <label><span style="color: #ff0000;">*</span>Email Template Definition: </label>
                                        <textarea class="form-control CharcaterTextBox" id="email_template_definition" placeholder="Email Template Definition" asp-for="email_template_definition"></textarea>
                                        <span asp-validation-for="email_template_definition" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label><span style="color: #ff0000;">*</span>Email Template Description: </label>
                                        <textarea class="form-control CharcaterTextBox" id="email_template_description" placeholder="Email Template Description" asp-for="email_template_description"></textarea>
                                        <span asp-validation-for="email_template_description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">

                                        <label>Keyword: </label>
                                        <div class="col-md-12">
                                            <div class="col-md-8">
                                                <select id="ddlkeyword" asp-for="keyword" asp-items="@(new SelectList(Model.keywordlst,"keyword_name","keyword_name"))" class="form-control "><option value="0">--Select--</option></select>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="button" class="btn btn-primary btn-flat" id="btnAdd" value="Add" onclick="GetKeyword();" />
                                            </div>
                                        </div>
                                        <span asp-validation-for="keyword" class=" text-danger"></span>
                                    </div>


                                </div>
                                <div class="box-footer with-border">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-primary btn-flat" id="btnSave" value="Save" name="CommandName" />
                                        <input type="submit" class="btn btn-primary btn-flat" id="btnEdit" value="Update" name="CommandName" />
                                        <a asp-controller="EmailTemplate" asp-action="Index" class="btn btn-danger btn-flat">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box box-primary" style="overflow:auto;">
                                <div class="box-header with-border">
                                    <span>Email Template Details</span>
                                </div>
                                <div class="box-body">
                                    <table class="table" id="tblData">
                                        <thead>
                                            <tr>
                                                <th>Email Template Name</th>
                                                <th>Email Template Definition</th>
                                                <th>Email Template Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 1;
                                                foreach (var item in Model._emailtemplatelst)
                                                {
                                                    <tr>
                                                        <td>@item.email_template_name</td>
                                                        <td>@item.email_template_definition</td>
                                                        <td>@item.email_template_description</td>
                                                        <td>
                                                            <a asp-controller="EmailTemplate" asp-action="Index" asp-route-id="@item.id" class="fa fa-pencil"></a> |
                                                            <a asp-controller="EmailTemplate" asp-action="Delete" asp-route-id="@item.id" class="fa fa-close"></a>
                                                        </td>
                                                    </tr>
                                                }
                                                i = i + 1;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</form>

@section Scripts
    {
    <script>
       $(document).ready(function () {
            $("#email_template_definition").keypress(function (event) {
                var ascii = event.which;
                var key = 
                console.log(event);
                if (event.key == '#' ) {
                    event.preventDefault();
                }
            });
           $("#btnEdit").hide();
           $("#btnSave").show();
            var id = '@Model.id';
            if (id != null && id != '0') {
                $("#btnSave").hide();
                $("#btnEdit").show();
            } else {

                $("#btnSave").show();
                $("#btnEdit").hide();
            }
                });
                
                

        function GetKeyword() {
            var keyword = $("#ddlkeyword option:selected").val();
          if (keyword != 0) {
               var final = "#" + keyword+ " ";
              var cursorPosition = $('#email_template_definition').prop("selectionStart");

              var front = ($('#email_template_definition').val()).substring(0, parseInt(cursorPosition));
              var back = ($('#email_template_definition').val()).substring(parseInt(cursorPosition), parseInt($('#email_template_definition').val().length));
              $('#email_template_definition').val(front + " " + final + " " + back);
          }
        }
    </script>
} 