﻿@model Onet_App.Models.ViewModel.DispositionVM
@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <h1>Disposition Creation</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">
    <form asp-controller="Disposition" asp-action="Index" method="post">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>Disposition Creation</span>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span> Disposition Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtDisposition" placeholder="Disposition Name" asp-for="disposition_name">
                            <span asp-validation-for="disposition_name" class=" text-danger"></span>
                            <input type="hidden" asp-for="disposition_id">
                        </div>
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span> Short Name: </label>
                            <input type="text" class="form-control CharcaterTextBox" id="txtShort" placeholder="Short Name" asp-for="short_name">
                            <span asp-validation-for="short_name" class=" text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label> Parent Disposition: </label>
                            <select id="ddbalanceforcollection" asp-for="parent_disposition" asp-items="@(new SelectList(Model._parentDispositionList,"disposition_id","disposition_name"))" class="form-control "></select>
                        </div>

                        <div class="box-footer with-border">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit" name="CommandName" value="@ViewData["ButtonName"]" />
                                <a asp-controller="Disposition" asp-action="Index" class="btn btn-danger btn-flat">Clear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="box box-primary">
                    <h6 class="box-title">
                        Disposition Details
                    </h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Disposition Name</th>
                                <th>Short Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model._dispositionlst)
                                {
                                    <tr>
                                        <td>@item.disposition_name</td>
                                        <td>@item.short_name</td>
                                        <td>
                                            @*<a asp-controller="Disposition" asp-action="Index" asp-route-id="@item.disposition_id" class="fa fa-pencil"></a> |*@
                                            <a asp-controller="Disposition" asp-action="Delete" asp-route-id="@item.disposition_id " onclick="return confirm('Are you sure?')" class="fa fa-close"></a>
                                        </td>
                                    </tr>
                                }
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}   