﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "CrmActivity";
}
<section class="content-header"></section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">
    <link href="~/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />
    <form asp-controller="CRM" asp-action="CrmActivity" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>@ViewData["Title"]</span>
                    <div id="buttons" class="pull-right">

                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <asp:Label ID="lblMessage" Text="File uploaded successfully." runat="server" ForeColor="Green" Visible="false" />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-lg-4">
                            <label>Choose Campaign Name: </label>
                            <select id="ddlcampaignName" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control"></select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>From Date: </label>
                            <input type="date" name="FromDate" class="form-control" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label>TO Date: </label>
                            <input type="date" name="TODate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" name="CommandName" value="Submit" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="box-header with-border">
                            <span>CRMActivity Download Details</span>
                        </div>
                        <div class="box-body">
                            <table id="tblData" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Activity Name</th>
                                        <th>Status</th>
                                        <th>Summary</th>
                                        <th>Time Stamp</th>
                                        <th>Phone 1</th>
                                        <th>Phone 2</th>
                                        <th>Phone 3</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.CrmActivitylst)
                                        {
                                            <tr>
                                                <td>@item.activity_name</td>
                                                <td>@item.status</td>
                                                <td>@item.summary</td>
                                                <td>@item.time_stamp</td>
                                                <td>@item.phone1</td>
                                                <td>@item.phone2</td>
                                                <td>@item.phone3</td>
                                            </tr>
                                        }
                                        i = i + 1;
                                    }
                                </tbody>
                            </table>
                            <div style="display:none">
                                <table id="tblDataAll" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Activity Name</th>
                                            <th>Status</th>
                                            <th>Summary</th>
                                            <th>Time Stamp</th>
                                            <th>Phone 1</th>
                                            <th>Phone 2</th>
                                            <th>Phone 3</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                             i = 1;
                                            foreach (var item in Model.CrmActivitylst)
                                            {
                                                <tr>
                                                    <td>@item.activity_name</td>
                                                    <td>@item.status</td>
                                                    <td>@item.summary</td>
                                                    <td>@item.time_stamp</td>
                                                    <td>@item.phone1</td>
                                                    <td>@item.phone2</td>
                                                    <td>@item.phone3</td>
                                                </tr>
                                            }
                                            i = i + 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script src="~/datatables/jquery.dataTables.js"></script>
    <script src="~/datatables/dataTables.bootstrap.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
            $("#tblData").DataTable();
            var Lead = $("#tblDataAll").DataTable();
            var buttons = new $.fn.dataTable.Buttons(Lead, {
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Download'
                    }
                ]
            }).container().appendTo($('#buttons'));
        });
    </script>
}
