﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "CRMBucket";
    Onet_App.Models.ViewModel.UserVM _userModel = Context.Session.GetObjectFromJson<Onet_App.Models.ViewModel.UserVM>(Onet_App.Models.Services.RoleType.QA);
    if (_userModel == null)
    {
        Context.Response.Redirect(Url.Action("Login", "User"));
    }

    var role_name_text = _userModel == null ? "" : _userModel.role_name_text;

    if (role_name_text == Onet_App.Models.Services.RoleType.Agent)
    {
        Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    }
}
<div class="modal fade" id="modalScheduleCall" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="modalScheduleCallLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnclosemodalScheduleCall" class="close" onclick="$('#modalScheduleCall').modal('toggle');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Scheduled Call Back</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-body">
                        <table class="table table-striped with-border">
                            <thead>
                                <tr>
                                    <th>Account Name</th>
                                    <th>Account Number</th>
                                    <th>Address</th>
                                    <th>Schedule Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tblScheduleCallBody">
                                @{

                                    if (Model.CallBackList.Count > 0 && Model.CallBackList != null)
                                    {
                                        foreach (var item in Model.CallBackList)
                                        {
                                            <tr>
                                                <td>@item.account_name</td>
                                                <td>@item.account_no</td>
                                                <td>@item.address</td>
                                                <td>@item.createdon</td>
                                                <td><a asp-controller="CRM" title="View Details" asp-action="Index" asp-route-mobile="@item.phone1" class="fa fa-eye"></a></td>
                                            </tr>
                                        }
                                    }

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<section class="content">

    <form asp-controller="CRM" asp-action="CRMBucket" method="post">
        <div class="col-md-12">
            @{
                if (Model.role_name == Onet_App.Models.Services.RoleType.Supervisor)
                {
                    <div class="box box-primary">
                        <div class="box-header">
                            Filter Data
                        </div>
                        <div class="box-body">
                            <div class="col-md-5">
                                <div class="form-group">


                                    <label>Filter On the Basis Of</label>
                                    <select id="ddActivity" asp-for="filter_text" class="form-control" onchange="GetFilter(this.value);">
                                        <option value="0">--Select--</option>
                                        <option value="Last_Disposition">Last Disposition</option>
                                        <option value="Last_Updated_Date">Last Updated Date</option>
                                    </select>
                                </div>
                            </div>
                            <div id="Disposition" class="col-md-4">
                                <div class="form-group">
                                    <label><span style="color: #ff0000;">*</span>Callout Status Level 1: </label>
                                    <select id="ddcallout1" asp-for="callout_status_level1" asp-items="@(new SelectList(Model.dispositionModels, "disposition_id", "disposition_name"))" class="form-control "></select>
                                    <span asp-validation-for="callout_status_level1" class=" text-danger"></span>
                                </div>
                            </div>
                            <div id="Last_Updated_Date" class="col-md-4">
                                <div class="form-group">
                                    <label><span style="color: #ff0000;">*</span>Last Updated Date: </label>
                                    <input type="date" asp-for="filter_date" />
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="submit" value="Filter" class="btn btn-primary btn-flat" />
                                    <input type="hidden" asp-for="_crmlst" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="box box-primary" style="overflow:auto;">
                <div class="box-header with-border">
                    <span>CRM Details</span>
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        @{ if (Model.role_name == Onet_App.Models.Services.RoleType.Agent)
                            {
                                <a asp-controller="CRM" asp-action="LeadAssigment" class="btn btn-primary btn-flat" style="margin-left: 10px;">Get Data</a>
                            } }
                        <button type="button" class="btn btn-success btn-flat" id="btnScheduleCallBack">
                            Scheduled Callbacks
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table" id="tblexample">
                        <thead>
                            <tr>
                                <th>Contact Number</th>
                                <th>Account Name</th>
                                <th>Account Number</th>
                                <th>Call Out Status</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                if (Model._crmlst.Count > 0 && Model._crmlst != null)
                                {
                                    foreach (var item in Model._crmlst)
                                    {
                                        <tr>

                                            <td>@item.phone1</td>
                                            <td>@item.account_name</td>
                                            <td>@item.account_no</td>

                                            <td>@item.callout_status_level1_Text</td>

                                            <td>
                                                @*<a asp-controller="CRM" asp-action="Index" asp-route-mobile="@item.contact_number" class="fa fa-eye"></a> |*@ <a asp-controller="CRM" asp-action="Index" asp-route-mobile="@item.phone1" asp-route-isautomate="false" class="fa fa-pencil"></a>
                                            </td>
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts
    {



    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblexample').DataTable();
            $("#Disposition").hide();
            $("#Last_Updated_Date").hide();
            $("#btnScheduleCallBack").click(function () {
                $('#modalScheduleCall').modal('toggle');
            });
        });
        function CallBackLog()
        {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCallBackData", "crm")',
                data: { AgentName: CallLogId },
                success: function (data) {
                    if(data)
                    {

                        $('#modalScheduleCall').modal('toggle');
                    }
                    else
                    {
                        console.log("Something went wrong while Edit the Call Log. Please check the Log File");
                    }
                }
            });
        }
        function GetFilter(val) {
            if (val == "Last_Disposition") {

                $("#Disposition").show();
                $("#Last_Updated_Date").hide();
            }
            else {
                $("#Disposition").hide();
                $("#Last_Updated_Date").show();

            }
        }
    </script>

}

