﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "LeadUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-controller="CRM" asp-action="LeadUpload" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h1>Lead Upload</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }

    <section class="content">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <label>Enable Get Lead Functionality </label>
                        <input type="checkbox" asp-for="enable_get_lead" />

                        <input type="submit" class="btn btn-success btn-flat pull-right" id="btnSubmit" name="CommandName" value="Get Format" />
                    </div>
                    <div class="box-body">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label><span style="color: #ff0000;">*</span>Choose Campaign Name: </label>
                                <select id="ddlcampaignName" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control" onchange="GetEndorser(this);"><option value="0">--Select--</option></select>

                            </div>
                        </div>
                        <div id="ddlEndorser" class="col-md-3">
                            <div class="form-group">
                                <label>Endorsed By: </label>
                                <select id="endorsername" asp-for="endorsement_id" asp-items="@(new SelectList(Model.EndorserModelList, "id", "endorser_name"))" class="form-control" onchange="GetListName(this.value);"><option value="0">--Select--</option></select>

                            </div>
                        </div>
                        <div id="txtListName" class="col-md-5">
                            <div class="form-group">
                                <label>List Name: </label>

                                <input class="form-control" type="text" id="listname" asp-for="list_name" />
                                <span asp-validation-for="list_name"></span>
                            </div>
                        </div>



                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="file" name="postedFile" id="postedFile" /><br />
                                <input type="submit" Text="Upload" class="btn btn-primary btn-flat" name="CommandName" value="Upload" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
            $("#txtListName").hide();
        });
        function GetEndorser(a) {
           var strUser = a.options[a.selectedIndex].value;
            var html = "<option value='0'>--Select--</option>";
               $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEndorserName", "CRM")',
                data: { Id: strUser },
                success: function(data) {
                    if (data.length>0) {
                        $.each(data, function (key, value) {
                            html += "<option value=" + value.id + ">" + value.endorser_name + "</option>";
                        });
                        $("#endorsername").html(html);
                    }
                 }
            });
        };

          function GetListName(a) {
              $("#listname").val("");
              $.ajax({
                type: 'POST',
                url: '@Url.Action("GetListNameTxt", "CRM")',
                data: { id: a},
                  success: function (data) {
                      console.log(data);
                      $("#listname").val(data);
                      $("#txtListName").show();

                }
                });
        }
    </script>
}


