﻿@model Onet_App.Models.ViewModel.LeadAssignmentVM
@{
    ViewData["Title"] = "LeadReAssignment";
}
<section class="content-header">
    <h1>Lead ReAssignment</h1>
</section>
<section class="content">
    <form asp-controller="CRM" asp-action="LeadReAssignment" method="post">

        @{
            if (TempData["Msg"] != null)
            {
                if (@TempData["Msg"].ToString().ToLower() != "error")
                {
                    <div class="alert alert-info" id="MsgDiv1">
                        <label>@TempData["Msg"]</label>
                    </div>
                }
            }
        }
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header"></div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Choose Campaign Name: </label>
                                <select id="ddlcampaignName" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control" onchange="GetAgentList(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Choose Agent List1: </label>
                                <select id="ddlAgentList1" asp-for="agent_id_1" class="form-control"><option value="0">--Select--</option></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Account Name </label>
                                <input id="phone1" asp-for="phone1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Row Count </label>
                                <input id="phone1" asp-for="RowCount" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Choose Agent List2: </label>
                                <select id="ddlAgentList2" asp-for="agent_id_2" class="form-control"><option value="0">--Select--</option></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="submit" id="btnReassignment" class="btn btn-success btn-flat" value="@ViewData["ButtonName"]" name="CommandName" />
                    <a asp-controller="CRM" asp-action="LeadReAssignment" title="Cancel" class="btn btn-danger btn-flat">Cancel</a>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header"></div>
                <div class="box-body">
                    <div class="col-md-12">
                        <table class="table table-bordered table-responsive" id="tblexample">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="chkSelectAll" /></th>
                                    <th>Contact Number</th>
                                    <th>Account Name</th>
                                    <th>Account Number</th>
                                    <th>CallOut Status Level</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                @{

                                    if (Model.LeadList.Count > 0 && Model.LeadList != null)
                                    {
                                        foreach (var item in Model.LeadList)
                                        {
                                            <partial name="_ReAssignLead" model="item" />
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);

            $(".chkSelectAll").click(function () {
                if ($(".chkSelectAll").prop('checked') == true) {
                    $('input[type="checkbox"]').attr('checked', true);
                }
                else
                    $('input[type="checkbox"]').attr('checked', false);
            });
            var agentid_1 = '@Model.agent_id_1';
            console.log(agentid_1);
            GetAgentList(@Model.campaign_id);
            $("#ddlAgentList1").val(parseInt(agentid_1));
            $("#ddlAgentList2").val(@Model.agent_id_2);
        });
        function GetAgentList(a) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAgentList", "CRM")',
                data: { Id: a },
                success: function (data) {
                    console.log(data);
                    var html = '';
                    html = '<option value="0">--Select--</option>';
                    if (data != null) {
                        $.each(data, function (key, value) {
                                html += '<option value="' + value.user_id + '">' + value.user_fullname + '</option>'
                        });
                        $("#ddlAgentList2").empty();
                        $("#ddlAgentList2").append(html);
                        $("#ddlAgentList1").empty();
                        $("#ddlAgentList1").append(html);
                        $("#ddlAgentList1").val(@Model.agent_id_1);
                        $("#ddlAgentList2").val(@Model.agent_id_2);
                    }
                    $("#btnReassignment").show();
                }

            });
        }
    </script>
}




