﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}
<section class="content">

    <form asp-controller="CRM" asp-action="LeadDownload" method="post">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>@ViewData["Title"]</span>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <asp:Label ID="lblMessage" Text="File uploaded successfully." runat="server" ForeColor="Green" Visible="false" />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>Choose Campaign Name: </label>
                            <select id="ddlcampaignName" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control" onchange="GetListNameByCampaign(this);"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <span style="color: #ff0000;">*</span> <label asp-for="list_name">List Name</label>
                            <select asp-for="list_name" asp-items="@(new SelectList(Model.listModels,"listname","listname"))" class="form-control" id="listname"><option value="0">--Select--</option></select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>From Date: </label>
                            <input type="date" name="FromDate" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-3">
                            <label><span style="color: #ff0000;">*</span>TO Date: </label>
                            <input type="date" name="TODate" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-flat" id="btnSubmit" name="CommandName" value="Submit" />
                            <input type="submit" class="btn btn-success btn-dropbox" id="btnDownload" name="CommandName" value="Download" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <span>Lead Download Details</span>
                </div>
                <div class="box-body">
                    <table id="tblData" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Account Name</th>
                                <th>Account Number</th>
                                <th>Address</th>
                                <th>Phone 1</th>
                                <th>Phone 2</th>
                                <th>Phone 3</th>
                                <th>Phone 4</th>
                                <th>Agent Name</th>
                                <th>List Name</th>
                                <th>Reason for Non Payment 1</th>
                                <th>Reason for Non Payment 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.cRMDATAVMs)
                                {
                                    <tr>
                                        <td>@item.Account_Name</td>
                                        <td>@item.Account_No</td>
                                        <td>@item.Address</td>
                                        <td>@item.Phone1</td>
                                        <td>@item.Phone2</td>
                                        <td>@item.Phone3</td>
                                        <td>@item.Phone4</td>
                                        <td>@item.Agent_Name</td>
                                        <td>@item.List_Name</td>
                                        <td>@item.Reason_for_Non_Payment_Level1</td>
                                        <td>@item.Reason_for_Non_Payment_Level2</td>
                                    </tr>
                                }
                                i = i + 1;
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);
            $("#tblData").DataTable();
        });
        function GetListNameByCampaign(a) {
            var strUser = a.options[a.selectedIndex].value;
            var html = "<option value='0'>--Select--</option>";
               $.ajax({
                type: 'POST',
                    url: '@Url.Action("GetListNameByCampaign", "CRM")',
                    data: { Id: strUser },
                    success: function(data) {
                        if (data.length>0) {
                            $.each(data, function (key, value) {
                                html += "<option value=" + value.listname + ">" + value.listname + "</option>";
                            });
                            $("#listname").html(html);
                        }
                    }
                });
        };
    </script>
}