﻿@model Onet_App.Models.ViewModel.ManualAssignmentVM
@{
    ViewData["Title"] = "Manual Assignment";
}
@{
    if (TempData["Msg"] != null)
    {
        if (@TempData["Msg"].ToString().ToLower() != "error")
        {
            <div class="alert alert-info" id="MsgDiv1">
                <label>@TempData["Msg"]</label>
            </div>
        }
    }
}

<form asp-controller="CRM" asp-action="ManualAssignment" method="post" enctype="multipart/form-data">
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <span style="color: #ff0000;">*</span> <label asp-for="campaignModels"></label>
                        <select asp-for="Campaign_id" asp-items="@(new SelectList(Model.campaignModels,"campaign_id","campaign_name",Model.Campaign_id))" class="form-control" onchange="GetEndorserName(this);"><option value="0">--Select--</option></select>
                    </div>
                    <div class="form-group col-md-3">
                        <span style="color: #ff0000;">*</span> <label asp-for="endorserModels"></label>
                        <select asp-for="Endorser_id" asp-items="@(new SelectList(Model.endorserModels,"id","endorser_name",Model.Endorser_id))" class="form-control" id="endorsername" onchange="GetListName(this);"><option value="0">--Select--</option></select>
                    </div>
                    <div class="form-group col-md-3">
                        <span style="color: #ff0000;">*</span> <label asp-for="listModels"></label>
                        <select asp-for="Listname" asp-items="@(new SelectList(Model.listModels,"listname","listname",Model.Listname))" class="form-control" id="listname"><option value="0">--Select--</option></select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Account Name </label>
                            <input id="phone1" asp-for="AccountName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Row Count </label>
                            <input id="phone1" asp-for="RowCount" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <span style="color: #ff0000;">*</span> <label asp-for="agentList"></label>
                        <select asp-for="Agent_id" asp-items="@(new SelectList(Model.agentList,"user_id","user_fullname",Model.agentList))" class="form-control" id="listname"><option value="0">--Select--</option></select>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" name="Command" value="@ViewBag.ButtonName" class="btn btn-primary btn-flat" />
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="CRM" asp-action="ManualAssignment" class="btn btn-default">Clear</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <table id="tblData" class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="chkSelectAll" /></th>
                                <th>Contact Number</th>
                                <th>Account Name</th>
                                <th>Account Number</th>
                                <th>CallOut Status Level</th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                            @{
                                if (Model.LeadList.Count > 0)
                                {
                                    if (Model.LeadList.Count > 0 && Model.LeadList != null)
                                    {
                                        foreach (var item in Model.LeadList)
                                        {
                                            <partial name="_AssignLead" model="item" />
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000);

            $(".chkSelectAll").click(function () {
                if ($(".chkSelectAll").prop('checked') == true) {
                    $('input[type="checkbox"]').attr('checked', true);
                }
                else
                    $('input[type="checkbox"]').attr('checked', false);
            });

        });

        function GetEndorserName(a) {

            var strUser = a.options[a.selectedIndex].value;
            var html = "<option value='0'>--Select--</option>";
               $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEndorserName", "CRM")',
                data: { Id: strUser },
                success: function(data) {
                    if (data.length>0) {
                        $.each(data, function (key, value) {
                            html += "<option value=" + value.id + ">" + value.endorser_name + "</option>";
                        });
                        $("#endorsername").html(html);
                    }
                 }
            });
        };

        function GetListName(a) {
            var strUser = a.options[a.selectedIndex].value;
            var html = "<option value='0'>--Select--</option>";
               $.ajax({
                type: 'POST',
                    url: '@Url.Action("GetListName", "CRM")',
                    data: { Id: strUser },
                    success: function(data) {
                        if (data.length>0) {
                            $.each(data, function (key, value) {
                                html += "<option value=" + value.listname + ">" + value.listname + "</option>";
                            });
                            $("#listname").html(html);
                        }
                    }
                });
        };


    </script>
}