﻿@model Onet_App.Models.ViewModel.CRMVM
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="CRM" asp-action="PaymentFileUpload" method="post" enctype="multipart/form-data">
    <section class="content-header">
        <h1>Payment File Upload</h1>
    </section>
    @{
        if (TempData["Msg"] != null)
        {
            if (@TempData["Msg"].ToString().ToLower() != "error")
            {
                <div class="alert alert-info" id="MsgDiv1">
                    <label>@TempData["Msg"]</label>
                </div>
            }
        }
    }

    <section class="content">
     <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
         <input type="submit" class="btn btn-success btn-flat pull-right" id="btnSubmit" name="CommandName" value="Get Format" />
         <div class="box-body">
             <div class="col-md-4">
                 <div class="form-group">
                     <label><span style="color: #ff0000;">*</span>Choose Campaign Name: </label>
                     <select id="ddlcampaignName" asp-for="campaign_id" asp-items="@(new SelectList(Model.campaignlist, "campaign_id", "campaign_name"))" class="form-control"></select>

                 </div>
             </div>
             <div class="col-lg-9">
                 <div class="form-group">
                     <input type="file" name="postedFile" id="postedFile" /><br />
                     <input type="submit" Text="Upload" class="btn btn-primary btn-flat" name="CommandName" value="Upload" />

                 </div>
             </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#MsgDiv").fadeOut('fast');
            }, 5000)
        });
    </script>
}


