﻿@model Onet_App.Models.ViewModel.RemarkVM
@{
    ViewData["Title"] = "Remark";
}

<form asp-controller="CRM" asp-action="Remark" method="post">
    <section class="content-header">
        <h1>Remark Creation</h1>
    </section>
    <section class="content">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <span>Remark Creation</span>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label><span style="color: #ff0000;">*</span>Remarks: </label>
                            <input type="text" class="form-control" id="txtRemark" placeholder="Remark" asp-for="remark">
                        </div>


                        <div class="box-footer with-border">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary btn-flat" id="btnSubmit"name="CommandName" value="Add" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box box-primary" style="overflow:auto;">
                    <div class="box-header with-border">
                        <span>Remarks Details</span>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Remark</th>
                                    <th>Remark by</th>
                                    <th>Remark Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                    foreach (var item in Model.RemarkModelList)
                                    {
                                        <tr>
                                            <td>@item.remark</td>
                                            <td>@item.createdbyname</td>
                                            <td>@item.createdon</td>
                                            <td>
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.id">Edit</a>|
                                           </td>
                                        </tr>
                                    }
                                    i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
